@import 'tailwindcss' source('../../src');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --safeAreaInsetTop: env(safe-area-inset-top);
  --safeAreaInsetBottom: env(safe-area-inset-bottom);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*body {
  color: rgb(var(--foreground-rgb));
}*/

/* Safe area insets for iPhone notch and Dynamic Island */
/* @supports (padding: max(0px)) {
  main {
    padding-left: max(2rem, env(safe-area-inset-left));
    padding-right: max(2rem, env(safe-area-inset-right));
    padding-bottom: max(6rem, env(safe-area-inset-bottom));
    padding-top: max(2rem, env(safe-area-inset-top));
  }
} */

@future {
  --hover-only-when-supported: true;
}

@theme {
  --animate-left-right: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: translateX(-1px);
    }
    50% {
      transform: translateX(2px);
    }
  }
}
