@import 'tailwindcss' source('../../src');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*body {
  color: rgb(var(--foreground-rgb));
}*/

@future {
  --hover-only-when-supported: true;
}

@theme {
  --animate-left-right: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: translateX(-1px);
    }
    50% {
      transform: translateX(2px);
    }
  }
}
